:root {
  --container-size: 600px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
  padding: 10px;
}

h2 {
  margin-bottom: 10px;
}

section {
  margin-top: 20px;
}

#container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


h2:nth-of-type(2) {
  margin-top: 32px;
}

#slider-container {
  display: flex;
  gap: 10px;
}

#grid-container {
  display: inline-block;
  border: solid 1px black;
  height: var(--container-size);
  width: var(--container-size);
}

.grid-row {
  display: flex;
  flex-direction: row;
}

.grid-square {
  background-color: aliceblue;
  border: solid 1px black;
  height: 20px;
  width: 20px;
}

#reset-btn {
  display: block;
  margin-top: 10px;
}