*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
  padding: 10px;
}

h1, h2 {
  margin-bottom: 10px;
}

#grid-container {
  display: inline-block;
  border: solid 1px grey;
}

.grid-row {
  display: flex;
  flex-direction: row;
}

.grid-square {
  background-color: aliceblue;
  border: solid 1px grey;
  height: 20px;
  width: 20px;
}
