@font-face {
  font-family: 'Norse';
  src: 
    local('./assets/fonts/Norse-Bold.otf'),
    url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
  width: 100vw;
}

#background-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./assets/images/markus-spiske-iar-afB0QQw-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

#sidebar-content {
  position: relative;
  display: flex;
  gap: 0.8rem;
  height: 10%;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  top: 12rem;
  line-height: 4rem;
  background-color: rgba(0, 0, 0, 0.8);
}

#sidebar-text {
  display: flex;
  font-family: 'Norse';
  font-size: 4rem;
  padding-top: 1rem;
}

#background-container img {
  object-fit: contain;
  height: 100%;
}

#background-container * {
  color: white;
}

#attribution {
  display: block;
  position: absolute;
  bottom: 1rem;
}

#card {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#card > p {
  font-size: 1.2rem;
  font-weight: bold;
  grid-column: 1 / 3;
}

.field > label {
  display: block;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.field input {
  margin-top: 0.2rem;
  padding: 0.4rem;
  box-sizing: border-box;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main > div {
  padding: 2rem;
}

main div:first-child {
  font-weight: bold;
  font-size: 1.2rem;
}

main > div:not(#card) {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#create-btn {
  cursor: pointer;
  width: fit-content;
  padding: 1rem 2rem;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  background-color: darkgreen;
  color: white;
  font-size: 1rem;
  transition: background-color 0.3s;
}

#create-btn:hover {
  background-color: rgb(0, 80, 0);
}

main a {
  text-decoration: none;
  font-weight: bold;
  color: darkgreen;
}

main a:hover {
  text-decoration: underline;
}