* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: sans-serif;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(30, 30, 30);
  color: white;
  padding: 1rem;
  z-index: 100;
}

nav > h1 {
  flex: 1;
  display: inline;
  font-size: 2rem;
}

nav > button {
  cursor: pointer;
  height: 2rem;
  padding: 0 1rem;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 1rem;
  color: white;
  background-color: rgb(30, 30, 30);
  transition: background-color 200ms;
}

nav > button:hover {
  background-color: rgb(50, 50, 50);
}

#content {
  margin-top: 4rem;
  padding: 1rem;
}

#content > p {
  margin-top: 0.4rem;
  font-size: 1rem;
}

#menu-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0.4rem;
}

#menu-list > div {
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
}

#menu-list > h3 {
  margin-top: 1rem;
}

#menu-list > div > p {
  margin-top: 0.4rem;
}