#sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  background-color: dodgerblue;
  padding: 1rem;
  gap: 4rem;
}

#sidebar h1, 
#sidebar h2 {
  color: white;
}

#sidebar > :first-child {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#sidebar > :not(:first-child) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#sidebar > :not(:first-child) > * {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

#logo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    'a b'
    'a b'
    'a d'
    'c d'
    'c d';
  gap: 0.3rem;
  height: 2rem;
  width: 2rem;
}

#logo div {
  background-color: white;
}

#logo div:nth-child(1) {
  grid-area: a;
}

#logo div:nth-child(2) {
  grid-area: b;
}

#logo div:nth-child(3) {
  grid-area: c;
}

#logo div:nth-child(4) {
  grid-area: d;
}