#topbar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1;
  grid-area: topbar;
  padding: 1rem 2rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#topbar button {
  border: none;
  height: 2rem;
  width: 5rem;
  font-weight: bold;
  background-color: dodgerblue;
  color: white;
  border-radius: 1rem;
}

#top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#top > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

input {
  border: none;
  background-color: lightgrey;
  height: 2rem;
  width: 50vw;
  border-radius: 1rem;
  padding: 1rem ;
}

.big {
  height: 3rem;
  width: 3rem;
}

#bottom {
  display: flex;
  justify-content: space-between;
}

#bottom-left {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  align-items: center;
  column-gap: 1rem;
}

#bottom-right {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap: 1rem;
}

#big-pfp {
  grid-row: 1 / 3;
}