:root {
  --button-size: 4rem;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

input {
  text-align: right;
  grid-column: 1 / 5;
  font-size: calc(var(--button-size) / 3);
}

button {
  border: none;
  font-size: calc(var(--button-size) / 3);
}

#wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: #aaa;
  padding: 10px;
}

.clear-btn {
  grid-column: 1 / 3;
}

.backspace-btn {
  grid-column: 3 / 5;
}

.equals-btn, .operator-btn {
  background: orange;
  color: white;
}