* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 200vh;
  width: 100vw;
  font-family: sans-serif;
}

body:has(dialog[open]) {
  overflow: hidden;
}

#top-bar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: fit-content;
  gap: 1rem;
  background-color: rgb(50, 50, 50);
  padding: 1rem;
}

#top-bar > h1 {
  flex: 1;
  color: white;
  display: inline;
}

#top-bar > button {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  border: none;
  padding: 0.4rem;
  background-color: transparent;
  border-radius: 0.2rem;
  transition: background-color 200ms;
}

#top-bar > button:hover {
  background-color: rgb(70, 70, 70);
}

#content {
  background-color: antiquewhite;
  width: 100%;
  padding: 1rem;
}

#list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0 2rem 0;
}

.item {
  display: flex;
  gap: 1rem;
  background-color: lightgrey;
  padding: 1rem;
}

.item > div > h3 {
  font-size: 1.2rem;
  background-color: antiquewhite;
}

.checkbox {
  cursor: pointer;
  border: solid 1px rgb(100, 100, 100);
  background-color: white;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  transition: background-color 200ms;
}

.checkbox:hover {
  background-color: rgb(230, 230, 230);
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  padding: 1rem;
}

#close-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  border: none;
  background-color: transparent;
  height: 1.2rem;
  width: 1.2rem;
  font-size: 1rem;
  border-radius: 50%;
  transition: background-color 200ms;
}

#close-btn:hover {
  background-color: rgb(220, 220, 220);
}

dialog > form {
  display: flex;
  flex-direction: column;
  gap:  0.6rem;
}

dialog > form > label {
  display: block;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
};