* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: sans-serif;
  padding: 1rem;
  width: 100vw;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 1rem;
  gap: 1rem;
  background-color: rgb(220, 220, 220);
  height: 20rem;
  width: 20rem;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: rgb(240, 240, 240);
  transition: background-color 0.2s;
}

.tile.active {
  cursor: pointer;
}

.tile.active:hover {
  background-color: white;
}

.winning-tile {
  background-color: lightgreen;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#reset-btn {
  padding: 0.4rem 1rem;
  width: fit-content;
}

dialog {
  padding: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

dialog > #close-btn {
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border: none;
  margin: auto 0 0.6rem auto;
  transition: background-color 0.2s;
}

dialog > #close-btn:hover {
  background-color: lightgrey;
}

#play-again-btn {
  padding: 0.4rem 1rem;
  margin-top: 1rem;
}